.product
{
    cursor: pointer;

    &:hover,
    &:focus
    {
        img
        {
            transform: translateY(-0.75rem) scale(1.05);
            transition: all 400ms ease-in-out;
        }

        span
        {
            color: var(--primary);
        }
    }

    img
    {
        display: block;
        width: 110px;
        height: 110px;
        margin: 0 auto;
        transition: all 900ms ease-in-out;
    }

    span
    {
        margin-top: 0.5rem;
        font-weight: var(--font-weight-medium);
        line-height: 1.5rem;
        text-align: center;
        display: block;
        width: 100%;
        color: var(--coco);
        transition: color 75ms ease;

        &.number-in-pack
        {
            margin-top: 0;
            position: absolute;
            left: 0;
            bottom: -1.25rem;
            font-size: 0.75rem;
            color: var(--primary);
        }
    }
}