:root
{
    --white: #fff;
    --off-white: #f7f7f7;
    --light-grey: #ececec;
    --black: #0f0f0f;
    --off-black: hsl(0, 0%, 18%);

    --font-color: hsl(0, 0%, 20%);
    --font-family: 'Public Sans', system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-heavy: 700;
    --font-weight-black: 900;

    --background: #fff;

    --primary: #ad8b19;
    --secondary: #262078;
    --mint: #D2E7E1;
    --coco: #65544F;
    --pink: #D7006D;
}
